@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160vh;
  background-color: azure;
  background-size: cover;
  margin: 0 10% 0 10%;
}
.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 13px;
}
.center h1 {
  font-size: 2em;
  border-bottom: 5px solid dodgerblue;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: "Sansita Swashed", cursive;
}
.center .inputbox {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}
.center .inputbox input,
select {
  position: relative;
  width: 100%;
  height: auto;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 13px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: inherit;
  transition: 0.5s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}
.center .inputbox label {
  position: absolute;
  font-size: inherit;
  color: #000;
  font-family: sans-serif;
  padding-left: 55%;
  padding-top: 5%;
}

.center a {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
