@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160vh;
  background-color: azure;
  background-size: cover;
  margin: 0 10% 0 10%;
}
.center {
  position: relative;
  padding: 40px 40px;
  background: #fff;
  border-radius: 13px;
}
.center h1 {
  font-size: 2em;
  border-bottom: 5px solid dodgerblue;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: "Sansita Swashed", cursive;
}
.center .inputbox {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  height: 40px;
}
.center .inputbox input {
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 13px;
  font-size: 16px;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 15px;
  font-size: 16px;
  transition: 0.5s;
  font-family: sans-serif;
}
.center .inputbox input:hover ~ span,
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 16px;
}
.center .inputbox [type="button"] {
  width: 40%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
  margin-left: 60%;
  font-weight: bold;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  transform: scale(1.1);
}
.center .inputbox [type="button"]:focus {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  transform: scale(1.1);
}
.center .select-warp {
  border: 2px solid #000;
  border-radius: 13px;
  width: 100%;
  margin-bottom: 35px;
  font-size: 16px;
  font-family: sans-serif;
  height: 40px;
  display: flex;
  align-items: center;
  flex-basis: auto;
  justify-content: space-between;
}
.select-warp label {
  font-size: inherit;
  flex-grow: 1;
  margin-left: 15px;
}
.select-warp select {
  border: 0px;
  font-size: inherit;
  font-weight: bold;
  border-left: #000 solid 2px;
  background-color: transparent;
  flex-grow: 3;
  text-align: end;
  margin-right: 5px;
  height: 80%;
}
.inputbox :last-child {
  margin-bottom: 0;
}
hr {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.footer a {
  background: blueviolet;
  color: #fff;
  border: #fff;
  text-decoration: none;
  border-radius: 13px;
  padding: 10px;
  font-weight: bold;
}
.footer a:hover {
  background: linear-gradient(45deg, lightgreen, dodgerblue);
  transform: scale(1.1);
}
.footer a:focus {
  background: linear-gradient(45deg, lightgreen, dodgerblue);
  transform: scale(1.1);
}
